@import url("https://fonts.googleapis.com/css2?family=Itim&display=swap");

@tailwind base;
@layer base {
    .btn-anime {
        @apply transition-all duration-300 ease-out p-1 text-sm px-5 bg-blue-200 rounded-lg border-2 border-blue-300;
    }
}

body::-webkit-scrollbar {
    display: none;
}

.left-s::-webkit-scrollbar {
    display: none;
}

.smallbox {
    box-shadow: 4px 5px 11px white;
    perspective: 1000;
    transition: transform 0.5s ease; /* Smooth transition for 3D effect */
}

.content {
    transition: opacity 0.5s ease; /* Smooth fade effect for content */
    opacity: 1; /* Initial state */
}

.rendered {
    animation: rendered 2s ease forwards;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}
.rendery {
    animation: rendered 2s ease forwards;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

@keyframes rendery {
    0% {
        transform: translateY(300px);
        opacity: 0;
    }

    50% {
        opacity: 0.75%;
    }

    100% {
        transform: translateY(0);
        scale: 1;
    }
}

@keyframes rendered {
    from {
        transform: translateY(100px);
        opacity: 0;
        scale: 0.3;
    }
    to {
        transform: translateY(0);
        opacity: 1;
        scale: 1;
    }
}

@tailwind components;

@tailwind utilities;
